
/* Custom dev two */
.borderBox {box-sizing: border-box;}
.container:after, .clearfix:after {content: ""; display: table; clear: both;}

.flexbox {display: flex; display: -moz-flex; display: -ms-flex; display: -webkit-flex;}
.flexbox.col {flex-direction: column; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column;}
.flexbox.h-centr {justify-content: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center;}
.flexbox.v-centr {align-items: center; -moz-align-items: center; -webkit-align-items: center; -ms-align-items: center;}
.spaceBetween {justify-content: space-between; -webkit-justify-content: space-between; -ms-justify-content: space-between;}

.btn.btn-sceondary {background: #CEFDD3; border: 2px solid #28A176; color: #28A176;}

/* Global styles for Pop up */
.popup-wrap {position: fixed; top: 0; left: 0; background-color: rgba(255,255,255,0.7); width: 100%; height: 100%; z-index: 999;}
.popup-global {padding: 30px; background: #FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; position: relative; width: 100%; font-size: 16px;}
.popup-global.small {max-width: 500px;}
.popup-global .popup-close {position: absolute; top: 20px; border-radius: 5px; padding: 5px; background: #fff; right: 24px; cursor: pointer;}
.popup-close .rico-close {font-size: 20px; color: #888888;}

#pop-wrong, #pop-correct, #word-complete {display: none;}
.correct-ans {background-color: #93F5C7; color: #349F6D;}
.word-complete {background-color: #AC8AEE; color: #fff; border:2px solid #4B0D89;}
.badge-completed {background-color: #68C3EC; color: #fff; border:2px solid #1549CE;}

.cat-completed {background-color: #4CDDA9; color: #fff; border: 2px solid #109079;}
.cat-completed, .word-complete {min-height: 400px;} 
.cat-completed img , .word-complete img {height: 200px;} 

.wrong-ans {background-color: #FFE9E9; color: #F96666;}
.score-container {width: 90px; height: 90px; border-radius: 50%; background-color: #F6F6F6; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); text-align: center; color: #27C77C; font-weight: bold;}
.score-container h3 {font-size: 30px; margin-bottom: 8px;}
.score-container span {font-size: 12px;}
h2.ans-msg {font-weight: bold; margin: 30px 0 20px; font-family: 'open_sansbold';}
h2.ans-msg + p {font-size: 18px;}
.wrong-ans .score-container {color: #FF9999;}
.word-complete .score-container {color: #AD7BDF;}

h2.word-msg {font-weight: bold; font-size: 20px; margin: 30px 0 20px; font-family: 'lato', 'open_sansbold';}
h2.word-msg + p { font-size: 16px; font-weight: regular;}
.wrong-ans .popup-banner {margin-bottom: 20px;}

.audio-popup .popup-close {background-color: #F1FCFA;}
.play-btn {background: none; border: none; cursor: pointer;}
.play-main {margin: 0 30px;}
.aud-sound {margin: 50px 0;}
.aud-sound .rico-audio {margin-right: 15px; color: #00AAFF;}
.aud-info span {margin-right: 45px;}
/* Full View - User Nav dropdown */

.fullview-drpdwn {background-color: #fff; position: absolute; left: 0; right: 0; z-index: 10; display: none; border-top: 1px solid #eee; box-shadow: 0px 4px 10px rgba(204, 204, 204, 0.5);}
.rico-arrowdown.fviewActive:before {content: "\e92f";}
.fullview-drpdwn .container > .lft-container {margin-bottom: 50px; float: left; width: 60%;}
.fullview-drpdwn .rtl-container {overflow: hidden; margin-right: 94px;}
.fullview-drpdwn .container > div.lft-container:first-child {margin-top: 50px;}
.fullview-drpdwn .container > div.lft-container:last-child {margin-bottom: 0;}
.fview-boxpad {padding: 0 50px;}
.block-heading {font-family: "Lato"; font-weight: 900; font-size: 14px; margin-bottom: 14px; color: #666666; letter-spacing: 2px; text-transform: uppercase;}

.prog-fullview .wPDays i {width: 11px; height: 11px;}
.prog-fullview .wPDays a {font-size: 12px;}

.goal-progressbar, .setgoal, .fullview-drpdwn .badge-box {border-left: 2px solid #eeeeee;}
.dailyGoal-drpdwn, .weeklyProgress, .aTimeBox {min-width: 175px;}

.goal-progressbar ul li {margin-bottom: 15px;}
.goal-progressbar ul li:last-child {margin: 0;}
.goal-progressbar h4, .goal-progressbar span {text-transform: uppercase; font-weight: 900; color: #666; min-width: 55px; font-size: 11px;}
.goal-progressbar span {min-width: 10px;}
.goal-progressbar .dGProgress {margin-right: 25px;}

.setgoal input {display: block; width: 100%; border: 2px solid #eee; height: 24px; border-radius: 4px; font-family: "Lato"; font-weight: 900; color: #999; min-width: 156px;}

.badge-box ul li {text-align: center; margin-right: 25px;}
.badge-box ul li:last-child {margin-right: 0;}
.badge-box ul li label {font-family: 'Lato', sans-serif; font-size: 9px; color: #666; margin: 12px 0 0; text-transform: uppercase; display: block;}
.badge-box .label-novice {background-image: url("../images/Novice-badge.svg"); background-repeat: no-repeat; background-position: 2px 3px;}
.badge-box .label-streak {background-image: url("../images/Streak-badge.svg"); background-repeat: no-repeat; background-position: 2px 3px;}
.badge-box .label-sufi {background-image: url("../images/sufi-badge.svg"); background-repeat: no-repeat; background-position: center;}
.badge-box .wordCircle, .badge-box .wordCircle::after {width: 80px; height: 80px;}

.lboard-score {border-left: 2px solid #eee; border-right: 2px solid #eee;}
.lboard-head {justify-content: space-between; -webkit-justify-content: space-between; -ms-justify-content: space-between; padding-top: 10px; padding-bottom: 10px; padding-top: 16px; padding-bottom: 16px; border-bottom: 2px solid #eee; margin-bottom: 10px;}
.lboard-head h4.block-heading {margin-bottom: 0;}
.lboard-list ul li {padding: 10px 0; margin-bottom: 5px;}
.lboard-list .score-sr {border: 1px solid #00AAFF; border-radius: 50%; width: 22px; height: 22px; letter-spacing: 0.15em; font-size: 10px; text-align: center;
font-family: 'Lato', sans-serif; color: #00AAFF; line-height: 21px; display: inline-block;}
.lboard-list h5 {flex: 1; -webkit-flex: 1; -ms-flex: 1; font-family: 'Lato', sans-serif; font-size: 10px; color: #666; text-transform: uppercase; letter-spacing: 1px; margin: 0 25px;}
.lboard-list label {font-family: 'open_sansbold'; font-size: 18px; color: #666;}

/* Login Page */
.user-page {background-color: #FAFAFA;}
.page-heading {font-size: 30px; font-family: "Lato"; font-weight: 900; color: #666; text-transform: uppercase; margin: 35px 0 25px;}
.text-center {text-align: center;}

.block-user {width: 100%; max-width: 600px; background-color: #ffffff; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; margin: 0 auto; padding: 40px 0; color: #888888; position: relative;}
.block-user:before, .block-user:after {content: ""; position: absolute; bottom: 0; display: block; background-repeat: no-repeat;} 
.block-user:before {background-image: url("../images/Login1.png"); width: 77px; height: 250px; left: -110px; bottom: -21px;}
.block-user:after {background-image: url("../images/Login2.png"); width: 130px; height: 330px; right: -165px; bottom: -45px;}

.login-form, .login-social {padding: 0 40px;}
.login-social {border-left: 1px solid #cccccc;}
.block-user input[type="text"], 
.block-user input[type="password"],
.user-profile-form input[type="text"], 
.user-profile-form input[type="password"] {border: none; border-bottom: 1px solid #cccccc; height: 30px; min-width: 260px; display: block; color: #888; font-size: 10px; font-family: "Lato"; font-weight: 900; letter-spacing: 1px; text-transform: uppercase;}
.block-user input[type="text"]:focus, 
.block-user input[type="password"]:focus {outline: none;}

.block-user .row-form {margin-bottom: 30px;}
.block-user .login-cta {justify-content: space-between; -webkit-justify-content: space-between; -ms-justify-content: space-between;}
.form-input-check input {margin: 0 5px 0 0;}
.block-user .login-cta a {color: #888; text-decoration: underline;}

.block-user .form-action {margin: 30px 0;}
.block-user .form-action button, .login-social-links > a, .btn {color: #00aaff; line-height: 36px; font-family: latoxregular; font-style: normal; font-weight: bold; font-size: 14px; letter-spacing: .05em; text-transform: uppercase; border-radius: 30px; border: 2px solid #00aaff; box-sizing: border-box; min-width: 150px; background-color: #E1F2FB; cursor: pointer;}
/* Global button */
.btn {height: 35px; line-height: unset; font-size: 11px; min-width: 100px; padding: 0 10px;}
.btn.btn-secondary {border-color: #CCCCCC; color: #666; background-color: transparent;}

.block-user .form-action button:focus {outline: none;}
.login-form p {font-size: 9px; font-family: Latoxbold; }
.login-form p a {color: #00aaff;}

.login-social h3, .login-social h5 {font-size: 10px; font-family: "Lato"; font-weight: 900; letter-spacing: 1px}
.login-social-links > a {display: block; margin: 30px auto; background-color: transparent; border-color: #ccc; line-height: 34px; text-align: center;}
.reg-link {margin-top: 15px;}
.login-social-links > a span {font-size: 26px; position: relative; top: 5px;}
.reg-link a {color: #00aaff; text-transform: uppercase; font-weight: 900; font-weight: 900; font-size: 10px; letter-spacing: 1px; font-family: "Lato"; text-decoration: underline;}

/* Register page */
.block-user-reg .row-form {margin-bottom: 15px; position: relative;}
.block-user-reg .row-form .chk-pwd {position: absolute; right: 15px; top: 7px; z-index: 5; cursor: pointer;}
.block-user-reg:before {background-image: url("../images/Signup-1.png"); width: 130px; height: 330px; left: -158px; bottom: -91px;}
.block-user-reg:after {background-image: url("../images/Signup-2.png"); width: 175px; height: 330px; right: -175px; bottom: -69px;}
.favStar i{ background-image: url(../images/icoStar.svg); background-repeat: no-repeat; height: 24px; width: 24px; background-position: center; float: left;text-align: center;}
.favStar i.active { background-image: url(../images/icoStarFilled.svg);}

/* Quiz page Inner */
.quiz-inner-all {padding-top: 0; color: #666666; max-width: 900px;}
.quiz-inner-head {text-align: right; padding: 8px 20px 8px 15px; font-size: 18px;}
.quiz-inner {box-shadow: inset 0px 4px 4px rgba(204, 204, 204, 0.25); background-color: #FAFAFA; padding: 52px 0; font-size: 16px;}
.quiz-inner p span {color: #00AAFF;}

.quiz-inner-content {padding: 50px 15px; font-family: "Lato"; font-weight: 900;}
.quiz-opt {font-size: 16px; min-height: 158px; width: 315px; text-align: center; color: #fff; border-radius: 12px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.quiz-opt > p:first-child {margin-bottom: 20px;}
.opt-green {background-color: #39D694;}
.opt-red {background-color: #FF9999;}
.opt-sep {font-size: 18px; font-family: "Lato"; font-weight: 900; margin: 0 30px;}

/* Profile page */
.favStrip.strip-alert {background: #F57676; border-color: #F57676; color; #fff; padding: 5px 0;}
.favStrip h3 {font-size: 14px; color: #fff; text-transform: uppercase; font-family: "Lato"; font-weight: 900; letter-spacing: 0.1em; border-right: 2px solid #fff; padding-right: 15px;}
.favStrip p {color: #fff; letter-spacing: 0.05em; margin: 0 15px;}
.contentShortprofile.profileEdit-form {padding: 17px 0;}
.profileEdit-form .cSPrifleBody {border-left: 0;}
.profileEdit-form .profilePicName {width: auto;}
.profileEdit-form .profilePicName img {margin-right: 0; width: 90px; height: 90px;}

.form-body {flex: 1; -webkit-flex: 1; -ms-flex: 1;}
.form-body > div {padding: 0 35px; -webkit-flex: 1; -ms-flex: 1;}
.form-body > div > div:first-child {margin-bottom: 15px;}
.form-sep {position: relative;}
.form-sep:after, .form-sep:before {content: ""; position: absolute; width: 2px; height: 50px; background-color: #CCCCCC; top: 23px;}
.form-sep:after {right: 0;}
.form-sep:before {left: 0;}

.user-profile-form input[type="text"], .user-profile-form input[type="password"] {width: 100%;}
.reset-btn {position: relative;}
.reset-btn .btn {position: absolute; right: -13px; bottom: 0; z-index: 10;}

.user-profile-form .form-sbmt {padding: 0 35px;}
.user-profile-form .form-sbmt .btn-secondary {margin-bottom: 5px;}

.page-profile-wrap {padding-top: 40px;}
.page-profile-wrap > div:not(.prof-content) {float: left; width: 30%; clear: left; margin-right: 30px;}
.page-profile-wrap .prof-content {overflow: hidden; padding-left: 45px; border-left: 1px solid #ccc;}
.page-profile-wrap .allTimeReport {float: none; padding: 16px 0;}
.page-profile-wrap .allTimeReport:before {display: none;}
.page-profile-wrap .badge-box {border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 20px 0;}
.prof-faq .flexbox, .favfilter {justify-content: space-between; -webkit-justify-content: space-between; -ms-justify-content: space-between; align-items: flex-end; -webkit-align-items: flex-end; -ms-align-items: flex-end;}
.prof-faq > div {padding: 16px 0;}
.prof-faq > div:first-child {border-bottom: 1px solid #ccc;}
.prof-faq p {font-style: italic; color: #666; font-weight: bold;}

.prof-contentOne {max-width: 450px;}
.fav-list ul li {margin-bottom: 10px;}
.fav-list ul li:last-child {margin-bottom: 0;}
.favfilter {margin-bottom: 15px;}
.favfilter h4 {margin: 0;}
.fav-card {border-radius: 8px; border: 2px solid;}
.fav-card > div {width: 45%; padding: 15px 20px; min-height: 70px;}
.fav-card > div:first-child {width: 55%; border-right: 2px solid rgba(0,0,0,0.2); font-size: 16px;}
.fav-card p, .fav-card span {color: #ffffff;}
.fav-word-cat p {text-transform: uppercase; margin-bottom: 5px; font-weight: normal;}

.prof-contentTwo {margin-top: 46px; padding-top: 26px; border-top: 1px solid #ccc;}
.fav-couplet .fav-couplet-text {line-height: 36px; text-align: center; font-style: italic;}
.fav-couplet p span {display: block;}

.purp-shade1 {background-color: #AD7BDF; border-color: #4B0D89;}
.purp-shade2 {background-color: #AC8AEE; border-color: #761BBE;}
.green-shade1 {background-color: #39D694; border-color: #18816D;}

/* Medium screen sizes  */
@media(max-width: 1199px) {
	.fview-boxpad.weeklyProgress {padding: 0 50px;}
	.badge-box ul li {margin-right: 5px;}
	
	.page-profile-wrap .allTimeReport {display: block;}
}

/* Tablet screen sized */
@media(max-width: 991px) {
	.fullview-drpdwn > .container {display: flex; display: -moz-flex; display: -ms-flex; display: -webkit-flex; flex-flow: column; -webkit-flex-flow: column; -ms-flex-flow: column;}
	.fullview-drpdwn .rtl-container {margin-right: 0;}
	.lboard-score {border-left: 0; border-right: 0;}
	.lboard-headv {border-top: 2px solid #eee;}
	/* Profile page */
	.user-profile-form {flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; position: relative;}
	.form-sep:after {display: none;}
	.user-profile-form .form-sbmt {position: absolute; right: 40px; top: 40px;}
	.page-profile-wrap .prof-content {padding-left: 20px;}
	.page-profile-wrap > div:not(.prof-content) {width: 34%;}
	.page-profile-wrap > div.badge-box {border-top: 0;}
}


/* Mobiles */
@media(max-width: 767px) {
	.cSPrifleBody {display: flex; display: -moz-flex; display: -ms-flex; display: -webkit-flex;}
	.bx-wrapper .bx-pager {bottom: 34px;}
	/* Full view - Dropdown */
	.fview-boxpad:not(.lboard-head) {padding: 0 15px;}
	.fullview-drpdwn > .container > div:first-child {order: 1; -webkit-order: 1; -ms-order: 1;}
	.rtl-container {order: 2; -webkit-order: 2; -ms-order: 2;}
	.fullview-drpdwn > .container > div:nth-child(2) {order: 3; -webkit-order: 3; -ms-order: 3;}
	.fullview-drpdwn > .container > div:nth-child(3) {order: 4; -webkit-order: 4; -ms-order: 4;}
	.fullview-drpdwn > .container > div:first-child > .flexbox {flex-flow: column; -webkit-flex-flow: column; -ms-flex-flow: column; align-items: center; -moz-align-items: center; -webkit-align-items: center; -ms-align-items: center;}
	.fullview-drpdwn .container > .lft-container {width: 100%;}
	.goal-progressbar {border-left: 0; margin-top: 30px;}
	.setgoal, .fullview-drpdwn .badge-box {border-left: 0;}
	.setgoal input {min-width: 100%;}
	.fullview-drpdwn .dailyGoal-drpdwn {min-width: 137px;}
	.lboard-score {border-bottom: 2px solid #eee; padding-bottom: 15px; margin-bottom: 30px;}
	.aTimeBox {display: none;}
	.fullview-drpdwn .badge-box {width: 100%; border-top: 2px solid #eeeeee; padding-top: 30px;}
	.fullview-drpdwn .badge-box ul {justify-content: space-around; -webkit-justify-content: space-around; -ms-justify-content: space-around;}
	.fullview-drpdwn .container > .lft-container {margin-bottom: 25px;}
	
	/* Quiz inner page */
	.quiz-inner {padding: 20px 0; font-size: 14px; line-height: 24px;}
	.quiz-inner-content, .form-body, 
	.strip-alert .flexbox, .page-profile-wrap,
	.fav-couplet.flexbox {flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column;}
	.opt-sep {margin: 10px 0;}
	
	/* Profile page */
	.flexbox.user-profile-form {align-items: flex-start; -webkit-align-items: flex-start; -ms-align-items: flex-start; width: 100%; box-sizing: border-box;
    padding: 0 40px;}
	.user-profile-form .form-sbmt {padding: 0; right: 29px; top: 22px;}
	.form-body {width: 100%;}
	.form-body > div {padding: 0;}
	.form-sep:before {display: none;}
	.form-body > div > div:first-child {margin: 0;}
	.user-profile-form input[type="text"], .user-profile-form input[type="password"] {min-width: 100%;}
	
	.favStrip h3 {padding-right: 0; border: none;}
	.favStrip p {margin: 10px 0;}
	
	.page-profile-wrap > div:not(.prof-content) {margin-right: 0; width: 100%;}
	.page-profile-wrap .badge-box ul li {margin: 0 15px;}
	
	.page-profile-wrap {display: flex; display: -moz-flex; display: -ms-flex; display: -webkit-flex; padding-top: 15px;}
	.page-profile-wrap .allTimeReport {border-bottom: 1px solid #ccc; order: 1; -webkit-order: 1; -ms-order: 1;}
	.page-profile-wrap > div.badge-box {order: 2; -webkit-order: 2; -ms-order: 2;}
	.page-profile-wrap .prof-content {order: 3; -webkit-order: 3; -ms-order: 3; padding-left: 0;
	border: 0; margin-top: 15px;}
	.page-profile-wrap .prof-faq {order: 4; -webkit-order: 4; -ms-order: 4;}
	
	.fav-card.fav-couplet > div {width: 100%;}
	.fav-couplet .fav-couplet-text {border-right: 0!important; border-bottom: 2px solid rgba(0,0,0,0.2);}
}